body {
  background: pink;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

.container {
  margin-top: 100px;
}

h1 {
  font-size: 40px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #444;
  color: white;
  position: relative;
}
